/* контейнер круга */
.china-wrapper {
    width: 320px;
    height: 320px;
}

/* КИТАЙ — ОГРОМНЫЙ */
.china-btn {
    width: 320px;
    height: 320px;
}

/* ВЗРЫВ ПОД РАЗМЕР */
.explosion {
    width: 320px;
    height: 320px;
}

/* MUTE — ЖИРНЫЙ */
button {
    width: 260px;
    height: 80px;
    font-size: 26px;
    letter-spacing: 2px;
}
